.tittle {
    display: flex;
    justify-content: center;
}
#exampleFormControlInput1 {
    margin-top: 10px;
}
.button {
    width: 100%;
}
.card{
    display: flex;
    border: 2px solid black;
    margin: 20px;
    padding: 50px;
}
.contactCard{
    display: flex;
    max-width: 100%;
}
.contactInfo{
    margin-left: 50px;
    min-width: 300px;
}
.deleteIcon{
    margin-left: 1000px;
}
.editIcon{
    margin-left: 80px;
}
.addContact{
    display: flex;
}
.envolture{
    margin: 50px;
}